.header {
  display: flex;
  align-items: center;
  background: #2c2d2f;
  border-top: 1px solid #393a3c;
  height: 40px;

  i {
    color: grey;
    font-size: 14px;
    cursor: pointer;
    padding: 3px;
    &:first-child {
      margin-left: 5px;
    }
    &:last-child {
      margin-right: 5px;
    }
    &:hover {
      background: lighten(#2c2d2f, 5%);
      border-radius: 4px;
    }
  }

  p {
    color: white;
    font-size: 12px;
    width: 100%;
    text-align: center;
  }

}
