body.dash {
  background-color: #f3f4f4;
}

.dashboard {

  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    padding: 10px;

    h2 {
      margin-top: 10px;
    }

    button, .button {
      background-color: forestgreen;
      padding: 10px;
      &:hover {
        background-color: darken(forestgreen, 10%);
      }
    }
  }

  .body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .index {
      display: flex;
      flex-wrap: wrap;
      font-size: 14px;
      padding: 20px;
      height: 100%;

      .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        border: 1px solid lightgrey;
        border-radius: 2px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 10px;
        min-width: 200px;

        &:hover {
          background-color: darken(#f3f4f4, 5%);
          cursor: pointer;
        }

        .title {
          color: darken(grey, 20%);
        }

        .controls {
          display: flex;
          margin-top: 10px;

        }

        button:last-child {
          margin-right: 0;
        }
      }
    }

    form {
      margin: 20px, 20px, 0, -10px;
      border: 1px solid lightgrey;
      background-color: darken(#f3f4f4, 5%);

      h2 {
        background: white;
        color: darken(grey, 20%);
        font-size: 20px;
        padding: 20px;
      }

      .form-body {
        border-top: 1px solid lightgrey;
      }

      label {
        display: block;
        font-size: 14px;
        font-weight: bold;
        color: grey;
        margin: 20px 10px 10px 20px;
      }

      input {
        border: 1px solid lightgrey;
        box-shadow: 0px 0px 1px 1px dodgerblue;
        box-sizing: border-box;
        color: lighten(black, 10%);
        margin: 0 20px 20px 20px;
        padding: 5px 10px;
        width: 300px;
      }

      .form-footer {
        display: flex;
        margin: 0 20px 20px 20px;
      }

      div.error {
        margin: 0 20px 20px 20px;
      }
    }

  }
}
