body.dash {
  background-color: $color-dashboard;
}

.dashboard {

  .heading {
    background-color: $color-dashboard-heading;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-direction: row;
    font-size: 16px;

    h2 {
      margin-top: 10px;
    }

    button, .button {
      background-color: forestgreen;
      border: 0;
      border-radius: 5px;
      color: white;
      padding: 10px;
      &:hover {
        background-color: darken(forestgreen, 10%);
      }
    }
  }

  .index {
    display: flex;
    padding: 20px;
    font-size: 14px;
    flex-wrap: wrap;
    height: 100%;

    .item {
      background-color: white;
      border: 1px solid lightgrey;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 10px;
      width: 200px;

      .controls {
        display: flex;
        margin-top: 10px;
      }
    }

    a {
      color: grey;
    }

    button, .button {
      background-color: dodgerblue;
      border-radius: 5px;
      color: white;
      padding: 5px 10px;
      &:hover {
        background-color: darken(dodgerblue, 10%);
      }
    }
  }
}
