header {
  display: flex;
  justify-content: space-between;
  background-color: $header-background-color;
  padding: $header-padding;
}

header .button,
header button {
  display: block;
  margin: 0 10px 0 0;
  padding: 5px 10px;
  border: 0;
  border-radius: $button-border-radius;
  background-color: $button-background;
  color: $button-color;
  font-family: $button-font-family;
  font-weight: $button-font-weight;
  font-size: 12pt;
  text-align: center;
}

.greeting {
  display: flex;
  padding:5px 0 10px 0;

  .button:last-child {
    margin-right: 0;
  }

  .name {
    display: block;
    font-size: 10pt;
    text-transform: uppercase;
    padding: 8px 10px 5px 0;
    vertical-align: bottom;
    color: lightgrey;
  }
}
