logo {
  display: flex;
}

.logo-image {
  display: block;
  height: 40px;
  width: 40px;
}

logo p {
  font-family: 'Open Sans', serif;
  font-size: 20pt;
  font-weight: bold;
  color: white;
  margin-top: 5px;
}
