.project {
  position: relative;
  height: 100%;

  header {
    background-color: #3E7293;
    p {
      font-weight: normal;
    }
  }

  .content {
    display: flex;
    background-color: #212121;
    height: 100%;
  }

  .panel {
    background-color: #484F57;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 100%;
    margin-left: 5px;
    width: 300px;
  }

  .nav.panel {
    width: 200px;
    background-color: #2f3337;

    ul {
      height: 100%;
      border-top: 1px solid #393a3c;
      border-bottom: 4px solid #262a2e;
      padding-bottom: 10px;
    }

    li {
      font-size: 12px;
      font-weight: normal;
      margin-left: 10px;
      padding: 8px 8px 8px 10px;
      cursor: pointer;
      margin-right: 10px;

      &.active {
        color: #8ac5ff;
      }
      &.inactive {
        color: lighten(grey, 20%);
      }
      &:hover {
        background-color: darken(#2f3337, 5%);
        border-radius: 4px;
      }
      &:first-child {
        margin: 10px;
        background-color: #3e7293;
        color: white;
        border-radius: 4px;
        &:hover {
          background-color: darken(#3e7293, 5%);
        }
      }
    }
  }

  .header {
    align-items: center;
    background: #2c2d2f;
    border-top: 1px solid #393a3c;
    display: flex;
    height: 40px;
    padding: 5px;

    p {
      color: white;
      font-size: 10pt;
      font-weight: normal;
      margin-left: 20px;
    }
  }

  .item {
    background-color: #f3f3d1;
    border-top: 1px solid white;
    border-bottom: 1px solid lightgrey;
    padding: 5px;
    font-size: 10pt;

    &:hover {
      background-color: darken(#f3f3d1, 5%)
    }
  }
}
