.project {
  position: relative;
  height: 100%;

  header {
    background-color: #3E7293;
    p {
      font-weight: normal;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    background-color: #212121;
    height: 100%;
  }

  .panel {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 100%;
    margin-left: 5px;
  }
}
