.story {
  &.panel {
    flex: 1 1 0px;
    background-color: #484F57;

    .index {
      overflow-y: auto;
      height: 100%;
    }

    .fa-star {
      color: #e0c85e;
    }

    .fa-bug {
      color: #d7724f;
    }

    .fa-cog {
      color: grey;
    }

    p i {
      padding-left: 5px;
      padding-right: 10px;
    }
  }
}
