.story-item {
  background-color: #f3f3d1;
  border-top: 1px solid white;
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px;
  font-size: 12px;

  > div {
    display: flex;
    align-items: center;
  }

  &.can-drag {
    cursor: move;
  }

  &.drop-target {
    margin: 2px 0 2px 2px;
    padding: 1px;
  }

  &:hover {
    background-color: darken(#f3f3d1, 5%);
  }

  &.drag-source {
    background-color: #ffff99;
  }

  &.accepted {
    background-color: #daebcf;
    &:hover {
      background-color: darken(#daebcf, 5%);
    }
  }

  i {
    padding-right: 5px;
    font-size: 14px;
    &:first-child {
      padding-left: 5px;
    }
  }

  .caret {
    color: grey;
    cursor: pointer;
  }

  .initials {
    color: #3e7293;
  }

  .action {
    align-items: flex-start;
  }

  button {
    font-size: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }

    &.start, &.restart {
      background: #e0e2e5;
      color: black;
      border: 1px solid lightgrey;
      padding-top: 3px;
      padding-bottom: 3px;
      &:hover {
        background: darken(#e0e2e5, 5%);
      }
    }
    &.finish {
      background: #203e64;
      &:hover {
        background: darken(#203e64, 5%);
      }
    }
    &.deliver {
      background: #f39300;
      &:hover {
        background: darken(#f39300, 5%);
      }
    }
    &.accept {
      background: #629200;
      &:hover {
        background: darken(#629200, 5%);
      }
    }
    &.reject {
      background: #a71f39;
      &:hover {
        background: darken(#a71f39, 5%);
      }
    }
  }
}
