.story-tasks-section {

  .story-section-content {
    display: flex;
    flex-direction: column;
  }

  .story-add-task-btn {
    color: grey;
    background: darken(#f1f0ea, 5%);
    width: 100%;
  }

  i {
    padding: 0 5px;
  }

  .story-task {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: darken(#f1f0ea, 5%);
    border-radius: 4px;
    margin-bottom: 5px;

    &.done {
      background-color: #b9d089;
    }

    input[type=checkbox] {
      margin-left: 10px;
      transform: scale(1.25);
      flex-shrink: 0;
    }

    textarea,
    input[type=text] {
      border: 0;
      background: inherit;
      padding: 4px;
      margin: 2px 5px;

      &:focus {
        border: 1px solid lightgrey;
        border-radius: 2px;
        padding: 3px;
        background: white;
      }
    }

    textarea {
      overflow-y: hidden;
    }

    button {
      font-size: 10px;
      background-color: darken(grey, 10%);
      border-radius: 2px;
      margin-right: 5px;
    }

    .story-task-delete-btn {
      background: #f1f0ea;
      border: 1px solid grey;
      color: grey;
      border-radius: 2px;
      padding: 3px 1px;
    }
    .hide {
      display: none;
    }
  }
}
