.story-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f3f3d1;
  border-top: 1px solid white;
  border-bottom: 1px solid lightgrey;
  padding: 3px;
  font-size: 12px;

  > div {
    display: flex;
    align-items: center;
  }

  &.can-drag {
    cursor: move;
  }

  &.drop-target {
    margin: 2px 0 2px 2px;
    padding: 1px;
  }

  &:hover {
    background-color: darken(#f3f3d1, 5%);
  }

  &.drag-source {
    background-color: #ffff99;
  }

  &.accepted {
    background-color: #daebcf;
    &:hover {
      background-color: darken(#daebcf, 5%);
    }
  }

  i {
    padding-right: 5px;
    font-size: 14px;
    &:first-child {
      padding-left: 5px;
    }
  }

  .caret {
    color: grey;
    cursor: pointer;
  }

  .initials {
    color: #3e7293;
  }
}
