<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTracker</title>
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
    <script src="https://use.fontawesome.com/d33deb2b75.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
